asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
Django==4.0.3
django-crispy-forms==1.14.0
idna==3.3
Pillow==9.0.1
psycopg2-binary==2.9.3
requests==2.27.1
sqlparse==0.4.2
urllib3==1.26.8
gunicorn==20.1.0

