{% extends 'base.html' %}


{% block content %}
    <h1 style='color: #00b533;' class="text-center mt-4">Search Term: {{query}} </h1>
    <div class="container">
        <div class="row">
            {% for course in courses %}
                <ul class="list-unstyled">
                    <li>
                        <a class='text-decoration-none' href="{% url 'course_detail' course.slug %}">
                            <h5>{{course.name|truncatechars:30}}</h5>
                        </a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock content %}