{% extends 'base.html' %}


{% block content %}

    <style>
        a.disabled {
            color: gray;
            pointer-events: none;
        }
        span.disabled{
            color: gray;
            pointer-events: none;
        }   
    </style>

    <div class="row">
        <div class="col-12 col-md-5 col-lg-5">
            <h5 class="text-center"><i style='font-size: 25px' class="bi bi-book"></i> The list of lessons</h5>
            {% for section in course.section.all %}
                <div class="accordion" id="accordionExample">
                
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne{{section.id}}">
                            
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ section.id }}" aria-expanded="true" aria-controls="collapseOne{{ section.id }}">
                            {{section.name}} 
                        </button>
                        </h2>
                        
                        <div id="collapseOne{{ section.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne{{ section.id }}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% for video in section.video.all %}
                                    {% if is_paid or request.user.is_superuser or request.user.is_teacher %}
                                    <div class="row">
                                        <div style='margin-bottom:7px' class="col-8 col-md-8 col-lg-10">
                                            <a target='myIframe' class='text-decoration-none' href="{{video.link}}">
                                                <i style='font-size: 20px' class="bi bi-play-circle"></i> 
                                                {{video.name|truncatechars:40}}
                                                
                                            </a>
                                        </div>
                                        <div class="col-4 col-md-4 col-lg-2">
                                            <span class="text-primary">{{video.get_video_length_time}}
                                                <i class="bi bi-unlock"></i>
                                            </span>
                                        </div>
                                        
                                        <hr>
                                    </div>
                                    {% else %}
                                        <div class="row">
                                            <div style='margin-bottom:7px' class="col-8 col-md-8 col-lg-10">
                                                <a class='text-decoration-none disabled' href="{{video.link}}">
                                                    <i style='font-size: 20px' class="bi bi-play-circle"></i> 
                                                    {{video.name|truncatechars:40}}
                                                    
                                                </a>
                                            </div>
                                            <div class="col-4 col-md-4 col-lg-2">
                                                <span class="disabled">{{video.get_video_length_time}}
                                                    <i class="bi bi-lock"></i>
                                                </span>
                                            </div>
                                            <hr>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}     
        </div>
        <div class="col-12 col-md-7 col-lg-7 my-3 p-4">
            <iframe name="myIframe" width="100%" height="350" frameborder="0" rel="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                {% for section in course.section.all %}
                    {% for video in section.video.all %}
                        src="{{video.link}}?autoplay=0&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"
                    {% endfor %}
                {% endfor %}>
            </iframe> 
        </div>
    </div>




{% endblock content %}



