{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col-5">
            <h5 class="text-center"><i style='font-size: 25px' class="bi bi-book"></i> The number of lessons</h5>
            {% for section in course.section.all %}
                <div class="accordion" id="accordionExample">
                
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne{{section.id}}">
                            
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ section.id }}" aria-expanded="true" aria-controls="collapseOne{{ section.id }}">
                            {{section.name}} 
                        </button>
                        </h2>
                        
                        <div id="collapseOne{{ section.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne{{ section.id }}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% for video in section.video.all %}
                                    {% if is_paid or request.user.is_superuser or request.user.is_teacher %}
                                    <div class="row">
                                        <div style='margin-bottom:15px' class="col-10">
                                            <a target='myIframe' class='text-decoration-none' href="{{video.link}}">
                                                <i style='font-size: 20px' class="bi bi-play-circle"></i> 
                                                {{video.name|truncatechars:35}}
                                                <hr>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <span class="text-primary">{{video.get_video_length_time}}
                                                <i class="bi bi-unlock"></i>
                                            </span>
                                        </div>
                                    </div>
                                    {% else %}
                                        <div class="row">
                                            <div style='margin-bottom:10px' class="col-9">
                                                <a class='text-decoration-none btn disabled' href="{{video.link}}">
                                                    <i style='font-size: 20px' class="bi bi-play-circle"></i> 
                                                    {{video.name|truncatechars:35}}
                                                    
                                                </a>
                                            </div>
                                            <div class="col-3">
                                                <span class="btn disabled">{{video.get_video_length_time}}
                                                    <i class="bi bi-lock"></i>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}     
        </div>
        <div class="col-7 my-3 p-4">
            <iframe name="myIframe" width="740" height="350" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                {% for section in course.section.all %}
                    {% for video in section.video.all %}
                        src="{{video.link}}"
                    {% endfor %}
                {% endfor %}>
            </iframe> 
        </div>
    </div>

<script>
 
</script>


{% endblock content %}



