{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="login-section col-lg-5 p-4">
                <h1 class='text-center'>Log In</h1>
                <form action="" method='post'>
                    {% csrf_token %}
                    {{form|crispy}}
                    {% comment %} <a style='text-decoration:none;' href="{% url 'password_reset' %}">Forget Password?</a> {% endcomment %}
                    <div class="text-center d-grid">
                        <button class="btn btn-outline-primary mb-3 mt-4" type='submit'>Submit</button>
                    </div>
                    <div class="row justify-content-center">
                        <a class='mb-4' href="{% url 'signup' %}">Register Here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}