{% extends 'base.html' %}

{% load static %}

{% block content %}

    <style>
        @media screen and (max-width: 1400px) {
            .course-img{
               width: 20%;
               height: 50px;
            }
            .cart-course-wrapper{
                margin-bottom: 10px;
            }
            .checkout-btn{
                margin-bottom: 10px;
            }
        }
        @media screen and (max-width: 810px) {
            .course-img{
               width: 100%;
               height: 170px;
            }
            .cart-course-wrapper{
                margin-bottom: 10px;
            }
            .checkout-btn{
                margin-bottom: 10px;
            }
        }
        @media screen and (max-width: 770px) {
            .course-img{
               width: 100%;
               height: 120px;
            }
            .cart-course-wrapper{
                margin-bottom: 10px;
            }
            .checkout-btn{
                margin-bottom: 10px;
            }
        }
        
    </style>

    <section class="cart-list-area">
        <div class="container">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    <div class="row" id="cart_items_details">
                        <div class="col-12 col-md-8 col-lg-9">

                            <div class="in-cart-box">
                                <div class="title">{{ total_items }} courses in cart</div>
                                <div class="">
                                    <ul class="cart-course-list list-unstyled">
                                        {% for item in cart %}
                                            {% with course=item.course %}
                                                <li>
                                                    <div class="cart-course-wrapper">
                                                        <div class="card">
                                                            
                                                            <div class="card-body d-flex">
                                                                <img style='height: 80px' class='course-img' src="{{course.image.url}}" alt="">
                                                                <form action="{% url 'cart_remove' course.slug %}" method="post"><br>
                                                                    <span class="card-text px-2 fw-bold">{{course.name}}</span> 
                                                                    <b>${{ course.price | floatformat:2  }}</b> <br>
                                                                    {% csrf_token %}
                                                                    <input type="hidden" value="{{ course.slug }}">
                                                                    <input type="submit" class="mx-2 btn btn-sm btn-danger" value="Remove">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="cart-sidebar">
                                <h4 class="total">Total:
                                    $<b id="total_price_of_checking_out">{{ cart.get_total_price | floatformat:2 }}</b>
                                </h4>
                                <a href="{% url 'payment' %}" class="btn btn-primary btn-block checkout-btn">Continue To Checkout</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h3>Your cart is empty.</h3>
                    <a class='text-decoration-none' href="{% url 'all_courses' %}">Keep Shopping</a>
                {% endif %}
            {% endwith %}
        </div>
    </section>

{% endblock %}