{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>

.group {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
                0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  label {
    position: relative;
    color: #8898AA;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .group label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
  }
  
  label > span {
    width: 80px;
    text-align: right;
    margin-right: 30px;
  }
  
  .field {
    background: transparent;
    font-weight: 300;
    border: 0;
    color: #31325F;
    outline: none;
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
    cursor: text;
  }
  
  .field::-webkit-input-placeholder { color: #CFD7E0; }
  .field::-moz-placeholder { color: #CFD7E0; }

  @media screen and (max-width: 1000px) {
    .payment-text{
      font-size: 20px;
    }
    .btn-primary{
        width: 100%;
    }
  }

  @media screen and (max-width: 810px) {
    .payment-text{
      font-size: 18px;
    }
    .btn-primary{
        width: 100%;
    }
  }

  @media screen and (max-width: 580px) {
    .payment-text{
      font-size: 15px;
    }
    .btn-primary{
        width: 100%;
    }
  }
  
</style>


<div class="container">
    <div class="row justify-content-center">
        <div class="order-details" style="width: 50%;margin: auto;">
            <center><h3 class="title mt-3">Payment Details</h3></center> <br>
            {% if cart.get_total_price != 0 %}
              <div class="col-12 col-md-12 col-lg-12">
                  
                    <div class="group">
                        <label>
                        <span>Card</span>
                        <div id="card-element" class="field"></div>
                        </label>
                    </div>
              </div>
              <div class="payment-box col-12 col-md-12 col-lg-12">
                  <div class="text-center d-grid">
                      <a id="pay-now" href='{% url 'cart_checkout' %}' class="btn btn-primary" onclick="cardcreate()">Pay now</a>
                  </div>
                  <br>
                  <br>
                  </div>
              </div>
            {% else %}
              <div class="payment-box col-12 col-md-12 col-lg-12">
                <h4 class='payment-text'>Just proceed with a Pay Now button <br>We won't charge you for FREE Course.</h4>
                <div class="text-center d-grid">
                    <a id="pay-now" href='{% url 'cart_checkout' %}' class="btn btn-primary" onclick="cardcreate()">Pay now</a>
                </div>
                
                <br>
                <br>
                </div>
              </div>
            {% endif %}
        </div>
    </div>
</div>



<script src="https://js.stripe.com/v3/"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>

  

<script type="text/javascript">

  var stripe = Stripe('pk_test_51Ial8LItxjOeLNkscwj6vFQGFUk2Ep3xORS3tozZXjnRwfsuhJYMcv4MdmnJ02uOD2xHgQJChqWncSEsD25kviXF00bhOE7UAr');
  var elements = stripe.elements();

  var card = elements.create('card', {
    style: {
      base: {
        iconColor: '#666EE8',
        color: '#31325F',
        lineHeight: '40px',
        fontWeight: 300,
        fontFamily: 'Helvetica Neue',
        fontSize: '15px',

        '::placeholder': {
          color: '#CFD7E0',
        },
      },
    }
  });
  card.mount('#card-element');

  function setOutcome(result) {
    var successElement = document.querySelector('.success');
    var errorElement = document.querySelector('.error');
    successElement.classList.remove('visible');
    errorElement.classList.remove('visible');

    if (result.token) {
      // Use the token to create a charge or a customer
      // https://stripe.com/docs/charges
      successElement.querySelector('.token').textContent = result.token.id;
      successElement.classList.add('visible');
      $("#pay-now").text("You Have Paid")
    } else if (result.error) {
      $("#pay-now").removeAttr("disabled")
      errorElement.textContent = result.error.message;
      errorElement.classList.add('visible');
    }
  }

  card.on('change', function(event) {
    setOutcome(event);
  });

  document.querySelector('form').addEventListener('submit', function(e) {
    e.preventDefault();
    $("#pay-now").attr("disabled", "disabled");
    var form = document.querySelector('form');
    var extraDetails = {
      name: form.querySelector('input[name=cardholder-name]').value,
    };
    card.update({disabled: true});
    // using a timeout to demnostrate a delay.
    setTimeout(function() {
      stripe.createToken(card, extraDetails).then(setOutcome);
    }, 2000)
  });

</script>

{% endblock %} 


