{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}

    <style>
        .left-line{
            border-right: 1px solid black;
            margin-top: -17px;
        }
        .edit-btn {
            width: 100%;
        }
        
        @media screen and (max-width: 770px) {
            .left-line {
                border-right: none;
            }
            .edit-btn{
                margin-bottom: 15px;
            }
        }
    </style>

    <div class="container">
        <div class="row">
            {% if request.user.is_student %}
                <div class="row mb-2">
                    <div class="col-6 col-md-4 col-lg-2">
                        <img style='border-radius: 50%;width: 150px; height: 150px; ' src="{{request.user.profile_picture.url}}" alt="">
                    </div>
                    <div class="col-5 col-md-6 col-lg-10" >
                        <h1 class='my-5'>{{request.user.first_name}} {{request.user.last_name}}</h1>
                    </div>
                    
                </div>
                <hr>
            
                <div class="row" >
                    <div class="col-12 col-md-3 col-lg-2 left-line" >
                        <div class="d-flex flex-column flex-shrink-0 p-2 text-white bg-white">

                            <ul class="nav nav-pills flex-column mb-auto">
                                <li>
                                    <a class="nav-link" href="{% url 'student_dashboard' %}">
                                        <i style='font-size: 18px' class="bi bi-speedometer2"></i> Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="nav-link" >
                                        <i style='font-size: 20px' class="bi bi-person"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        <i style='font-size: 18px' class="bi bi-bag-check"></i> Purchase History
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}" class="nav-link">
                                        <i style='font-size: 20px' class="bi bi-box-arrow-in-right"></i> Logout
                                    </a>
                                </li>
                            </ul>
                            <hr>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 col-lg-10">
                        <div class="row mx-4">
                            <div class="col-12 col-md-10 col-lg-8">
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Registration Date </span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.date_joined}}</span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>First Name</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.first_name}} </span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Last Name</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.last_name}}</span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Username</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.username}}</span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Email</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.email}}</span>
                                    </div>
                                </div>
                                <br>
                                <a class="btn btn-primary edit-btn" href="{% url 'profile_edit' %}">Edit profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif request.user.is_teacher %}
                <div class="row mb-2">
                    <div class="col-7 col-md-3 col-lg-3">
                        <img style='border-radius: 50%;width: 150px; height: 150px; ' src="{{request.user.profile_picture.url}}" alt="">
                    </div>
                    <div class="col-5 col-md-7 col-lg-9" style='margin-left:-20px'>
                        <h1 class='my-5'>{{request.user.first_name}} {{request.user.last_name}}</h1>
                    </div>
                    
                </div>
                <hr>
                <div class="row" >
                    <div class="col-12 col-md-3 col-lg-2 left-line" >
                        <div class="d-flex flex-column flex-shrink-0 p-2 text-white bg-white">

                            <ul class="nav nav-pills flex-column mb-auto">
                                <li>
                                    <a class="nav-link" href="{% url 'teacher_dashboard' %}">
                                        <i style='font-size: 18px' class="bi bi-speedometer2"></i> Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="nav-link" >
                                        <i style='font-size: 20px' class="bi bi-person"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}" class="nav-link">
                                        <i style='font-size: 20px' class="bi bi-box-arrow-in-right"></i> Logout
                                    </a>
                                </li>
                            </ul>
                            <hr>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 col-lg-10">
                        <div class="row mx-4">
                            <div class="col-12 col-md-10 col-lg-8">
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Registration Date </span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.date_joined}}</span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>First Name</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.first_name}} </span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Last Name</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.last_name}}</span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Username</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.username}}</span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Email</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.email}}</span>
                                    </div>
                                </div>
                                <br>
                                <a class="btn btn-primary edit-btn" href="{% url 'profile_edit' %}">Edit profile</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row mb-2">
                    <div class="col-7 col-md-3 col-lg-3">
                        <img style='border-radius: 50%;width: 150px; height: 150px; ' src="{{request.user.profile_picture.url}}" alt="">
                    </div>
                    <div class="col-5 col-md-7 col-lg-9" style='margin-left:-20px'>
                        <h1 class='my-5'>{{request.user.first_name}} {{request.user.last_name}}</h1>
                    </div>
                    
                </div>
                <hr>
                    
                <div class="row" >
                    <div class="col-12 col-md-3 col-lg-2 left-line">
                        <div class="d-flex flex-column flex-shrink-0 p-2 text-white bg-white">

                            <ul class="nav nav-pills flex-column mb-auto">
                                <li>
                                    <a class="nav-link" href="{% url 'admin_dashboard' %}">
                                        <i style='font-size: 18px' class="bi bi-speedometer2"></i> Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="nav-link" >
                                        <i style='font-size: 20px' class="bi bi-person"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}" class="nav-link">
                                        <i style='font-size: 20px' class="bi bi-box-arrow-in-right"></i> Logout
                                    </a>
                                </li>
                            </ul>
                            <hr>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 col-lg-10">
                        <div class="row mx-4">
                            <div class="col-12 col-md-10 col-lg-8">
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Registration Date </span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.date_joined}}</span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>First Name</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.first_name}} </span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Last Name</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.last_name}}</span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Username</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.username}}</span>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-md-6 col-lg-5">
                                        <span>Email</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7">
                                        <span>{{request.user.email}}</span>
                                    </div>
                                </div>
                                <br>
                                <a class="btn btn-primary edit-btn" href="{% url 'profile_edit' %}">Edit profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}    
        </div>
    </div>
{% endblock %}
